<ion-view view-title="Nova Lista">
    <ion-nav-buttons side="right">
        <button class="button button-clear" ng-click="salvarLista()">Salvar</button>
    </ion-nav-buttons>
    <ion-content overflow-scroll="false">
        <div class="list">
			<div class="item item-button-right item-padding" ng-repeat="item in itens">
				<h2>{{item.descricao}}</h2>
				<p>{{item.unidade_medida + ' - ' + item.qt_unidade_apresentacao + item.unidade_apresentacao}}</p>
				<button class="button button-clear button-balanced" ng-click="checkar(item, !item.check)" ng-show="!item.check">
					<i class="icon ion-android-checkbox-outline-blank"></i>
                </button>
                <button class="button button-clear button-balanced" ng-click="checkar(item, !item.check)" ng-show="item.check">
					<i class="icon ion-android-checkbox"></i>
                </button>
                <label class="item-input no-padding" ng-show="item.check">
                    <span class="input-label balanced">Quantidade:</span>
                    <input type="number" ng-model="item.quantidade">
                </label>
            </div>
		</div>
    </ion-content>
</ion-view>