<ion-tabs class="tabs-striped tabs-icon-top tabs-background-balanced tabs-color-light">
	<ion-tab title="Lista" icon-off="ion-ios-list-outline" icon-on="ion-ios-list" href="#/tab/lista">
		<ion-nav-view name="tab-lista"></ion-nav-view>
	</ion-tab>
	<ion-tab title="Itens" icon-off="ion-ios-cart-outline" icon-on="ion-ios-cart" href="#/tab/itens">
		<ion-nav-view name="tab-itens"></ion-nav-view>
	</ion-tab>
	<ion-tab title="Histórico" icon-off="ion-ios-albums-outline" icon-on="ion-ios-albums" href="#/tab/historico">
		<ion-nav-view name="tab-historico"></ion-nav-view>
	</ion-tab>
</ion-tabs>
