.img-background {
    background: url(../img/mercado.jpg) no-repeat center;
    background-size: cover;
}

.img-top {
    background: url(../img/carrinho_mercado.jpg) no-repeat center;
    background-size: cover;
    box-shadow: 0px 2px 5px 0 rgba(0, 0, 0, 0.26);
    height: 170px;
    position: relative;
}

.img-top > .content {
    bottom: 12px;
    font-weight: bold;
    padding-left: 10px;
    position: absolute;
    font-size: 42px;
    width: 100%;
    z-index: 1;
    text-shadow: -1px -1px 1px #aaa, 0px 4px 1px rgba(0,0,0,0.5);
}

.item-img {
    width: 50px; 
    height: 50px;
    padding-left: 0;
    padding-top: 0;
    padding-bottom: 0;
}

.item-padding {
    padding-top: 6px;
    padding-bottom: 6px;
}

.list-letters {
    color: gray;
    font-size: 20px;
}

.centralize {
    margin: auto;
    width: 80%;
}

.popup-confirm .popup-head {
    padding-top: 8px;
    padding-bottom: 8px;
    background: #33cd5f;
}

.popup-confirm .popup-title {
    color: #fff;
    font-size: 20px;
}

.popup-confirm .popup-body {
    color: gray;
    font-size: 20px;
    text-align: center;
}

.list-item {
    border: none; 
    padding-top: 0; 
    padding-bottom: 0;
}

.tachado {
    text-decoration: line-through;
}

.preco-badge {
    right: 3px !important;
    top: 33px !important;
    z-index: 999999;
}

.btn-salvar {
    position: fixed;
    left: 76%;
}

.item-complex .item-content {
    padding: 0;
}